@import '_variables.scss';
.blog-card.hovered {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }
    
.blog-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    .blog-card {
        background-color: $color-background;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;

        img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
        }

        h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        }

        p {
        margin-bottom: 10px;
        }

        .read-btn {
        background-color: $color-gris-acorazado;
        color: $color-fondo;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-rojo-arnes;
        }
        }
    
    }
}

@media (max-width: 767px) {
    // Estilos del video
    .VIDEO {
        width: 100%;
        height: auto;
    }

    
}